AirCombatGame/Library/
AirCombatGame/.idea/
AirCombatGame/.vs/
AirCombatGame/.vscode/
AirCombatGame/Logs/
AirCombatGame/obj/
AirCombatGame/Temp/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

